---
---

@charset "utf-8";

@import "minimal-mistakes/skins/dark"; // dark skin
@import "minimal-mistakes"; // main partials
@import "local_theme_toggle";

html {
  font-size: 16px; // base size for small screens

  @include breakpoint($medium) {
    font-size: 18px; // matches live site
  }

  @include breakpoint($large) {
    font-size: 18px; // matches live site
  }

  @include breakpoint($x-large) {
    font-size: 18px; // matches live site
  }
}
